List

In [1]:
l=[]

In [2]:
type(l)

list

In [3]:
l1=[1,2,3,4,5]

In [4]:
l1

[1, 2, 3, 4, 5]

In [5]:
l2=[1,2,3,4,'khus',True,4-6j]
l2

[1, 2, 3, 4, 'khus', True, (4-6j)]

In [6]:
l3=['khush',4-6j,True,5,6]
l3[0]

'khush'

In [7]:
l3[4]

6

In [8]:
l3[0:4:2]

['khush', True]

In [9]:
l3[-2]

5

In [10]:
l3[::-1]#for reversing

[6, 5, True, (4-6j), 'khush']

In [11]:
l3

['khush', (4-6j), True, 5, 6]

In [12]:
l3[0]=23#mutable

l3

[23, (4-6j), True, 5, 6]

In [13]:
s='khushbu'
s

'khushbu'

In [14]:
s[0]='a'#immutable

TypeError: 'str' object does not support item assignment

In [35]:
l=[3,4,5,6,7,'khush',4-5j]
l

[3, 4, 5, 6, 7, 'khush', (4-5j)]

In [36]:
type(l)

list

In [37]:
l*4

[3,
 4,
 5,
 6,
 7,
 'khush',
 (4-5j),
 3,
 4,
 5,
 6,
 7,
 'khush',
 (4-5j),
 3,
 4,
 5,
 6,
 7,
 'khush',
 (4-5j),
 3,
 4,
 5,
 6,
 7,
 'khush',
 (4-5j)]

In [38]:
s='khushbu '
s*4

'khushbu khushbu khushbu khushbu '

In [39]:
l

[3, 4, 5, 6, 7, 'khush', (4-5j)]

In [40]:
l1=[4,5,6,7]
l+l1

[3, 4, 5, 6, 7, 'khush', (4-5j), 4, 5, 6, 7]

In [41]:
l

[3, 4, 5, 6, 7, 'khush', (4-5j)]

In [42]:
l+1

TypeError: can only concatenate list (not "int") to list

In [43]:
l+'khus'

TypeError: can only concatenate list (not "str") to list

In [44]:
l

[3, 4, 5, 6, 7, 'khush', (4-5j)]

In [45]:
len(l)

7

In [46]:
l

[3, 4, 5, 6, 7, 'khush', (4-5j)]

In [47]:
'khush' in l

True

In [48]:
11 in l

False

In [49]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [65]:
l2=[3,4,5,6,7]
max(l2)

7

In [140]:
l7=['khush','apple','zudio','butter']
max(l7)

'zudio'

In [67]:
min(l3)

'apple'

In [68]:
l4=['True','False']
l4

['True', 'False']

In [72]:
max(l4)

'True'

In [71]:
min(l4)

'False'

In [141]:
l7

['khush', 'apple', 'zudio', 'butter']

In [143]:
l7.append(45)

In [144]:
l7

['khush', 'apple', 'zudio', 'butter', 45]

In [146]:
l7.append('maltimarry')

In [147]:
l7

['khush', 'apple', 'zudio', 'butter', 45, 'maltimarry', 'maltimarry']

In [148]:
l7.insert(1,67)

In [149]:
l7

['khush', 67, 'apple', 'zudio', 'butter', 45, 'maltimarry', 'maltimarry']

In [150]:
l7.insert(0,55)

In [151]:
l7

[55, 'khush', 67, 'apple', 'zudio', 'butter', 45, 'maltimarry', 'maltimarry']

In [152]:
l7.pop()

'maltimarry'

In [153]:
l7

[55, 'khush', 67, 'apple', 'zudio', 'butter', 45, 'maltimarry']

In [154]:
l7.pop(6)

45

In [155]:
l7

[55, 'khush', 67, 'apple', 'zudio', 'butter', 'maltimarry']

In [156]:
l7[::-1]

['maltimarry', 'butter', 'zudio', 'apple', 67, 'khush', 55]

In [157]:
l7.reverse()

In [158]:
l7

['maltimarry', 'butter', 'zudio', 'apple', 67, 'khush', 55]

In [160]:
li=[2,4,5,7,8,1,3,4]
li.sort()

In [162]:
li

[1, 2, 3, 4, 4, 5, 7, 8]

In [167]:
li.sort(reverse=True)

In [168]:
li

[8, 7, 5, 4, 4, 3, 2, 1]

In [169]:
li

[8, 7, 5, 4, 4, 3, 2, 1]

In [170]:
[l1,l2,l3,l4,li]

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 'khus', True, (4-6j)],
 [23, (4-6j), True, 5, 6],
 ['True', 'False'],
 [8, 7, 5, 4, 4, 3, 2, 1]]

In [171]:
lt=[l1,l2]

In [172]:
lt

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 'khus', True, (4-6j)]]

In [176]:
lc=[l1,l2,l3,'july','khusi',43]

In [177]:
lc

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 'khus', True, (4-6j)],
 [23, (4-6j), True, 5, 6],
 'july',
 'khusi',
 43]

In [178]:
len(lc)

6

In [179]:
lc[2]

[23, (4-6j), True, 5, 6]

In [180]:
lc[2][1]

(4-6j)

In [181]:
lc[3][2]

'l'

#tuple

In [211]:
t=()

In [212]:
type(t)

tuple

In [3]:
t1=(1,2,3,4,5,'khush',True,5-6j)

In [4]:
t1

(1, 2, 3, 4, 5, 'khush', True, (5-6j))

In [215]:
type(l)

list

In [217]:
t1[6]

True

In [218]:
t1

(1, 2, 3, 4, 5, 'khush', True, (5-6j))

In [219]:
t1[3]='ma'#immutable

TypeError: 'tuple' object does not support item assignment

In [19]:
t1

(1, 2, 3, 4, 5, 'khush', True, (5-6j))

In [20]:
list(t1)

[1, 2, 3, 4, 5, 'khush', True, (5-6j)]

In [223]:
t1

(1, 2, 3, 4, 5, 'khush', True, (5-6j))

In [302]:
l1

[1, 2, 3, 4, 5]

In [22]:
tuple(l1)

(1, 2, 3, 4, 5)

In [23]:
t1.count(5)

1

In [26]:
t1.index(4)

3

In [27]:
len(t1)

8

In [30]:
t3=(3,4,5,6,7)

In [31]:
t3

(3, 4, 5, 6, 7)

In [32]:
min(t3)

3

In [33]:
max(t3)

7

- Set

In [48]:
s={}

In [49]:
type(s)

dict

In [51]:
s2={2,3,4,5,6,7,5,6,'khush','anya','ankit'}

In [52]:
s2

{2, 3, 4, 5, 6, 7, 'ankit', 'anya', 'khush'}

In [54]:
s3={'khush','Khush'}
s3

{'Khush', 'khush'}

In [57]:
s2.add("khusi")
s2

{2, 3, 4, 5, 6, 7, 'ankit', 'anya', 'khush', 'khusi'}

In [60]:
s2.add((1,2,3,4))
s2

{(1, 2, 3, 4), 2, 3, 4, 5, 6, 7, 'ankit', 'anya', 'khush', 'khusi'}

In [62]:
s2.add({2,3,4})
s2

TypeError: unhashable type: 'set'

In [64]:
s2.add([2,3,4])
s2

TypeError: unhashable type: 'list'

In [66]:
#s2.clear()
s2

set()

In [68]:
#s2.copy()
s2

set()

In [119]:
s4={2,3,4,5,6,7,8}
s4

{2, 3, 4, 5, 6, 7, 8}

In [73]:
s2.difference(s2-s4)

set()

In [79]:
l=[2,3,4,5,2,3,4,5,6,7,8]
l

[2, 3, 4, 5, 2, 3, 4, 5, 6, 7, 8]

In [80]:
set(l)

{2, 3, 4, 5, 6, 7, 8}

In [81]:
t=(3,4,5,5,6,6,7,8,8)
t

(3, 4, 5, 5, 6, 6, 7, 8, 8)

In [84]:
set(t)

{3, 4, 5, 6, 7, 8}

In [86]:
tuple(set(t))

(3, 4, 5, 6, 7, 8)

In [120]:
s4

{2, 3, 4, 5, 6, 7, 8}

In [121]:
s4.remove(4)
s4

{2, 3, 5, 6, 7, 8}

In [130]:
s4.remove(3)
s4

{2, 6, 7, 8}

In [131]:
s4.remove(9)#if any element is not involve in set then remove function will give error.

KeyError: 9

In [114]:
s4.discard(2)
s4

{3, 4, 5, 6, 7, 8}

In [132]:
s4.discard(9)#if any element is not involve in set then discard will not give error.

In [133]:
s4.pop()

2

In [135]:
s4.pop()

6

# dictionary

In [15]:
s={}
type(s)

dict

In [16]:
d={'a':1}
d

{'a': 1}

In [17]:
d1={'name':'khush'}
d1['name']#dictionary calls the value through key

'khush'

In [18]:
l=[23,4,6,7]
l[3]#list calls the value through index

7

In [19]:
d2={234567:'khush'}
d2[234567]

'khush'

In [20]:
d3={(2345):'anya'}
d3[(2345)]

'anya'

In [21]:
d4={True:'anshi'}
d4[True]

'anshi'

In [22]:
d5={'name':'ankit','name':'ankita'}
d5['name']#key can not be same.so last value will execute.

'ankita'

In [23]:
d6={'name':'khush','email_id':'khushvip03.gmail.com','subject':['dsa','data science']}
d6

{'name': 'khush',
 'email_id': 'khushvip03.gmail.com',
 'subject': ['dsa', 'data science']}

In [24]:
d6['subject']

['dsa', 'data science']

In [26]:
'dsa' in d6['subject']

True

In [28]:
d6['subject'][1]

'data science'

In [30]:
d7={'name':'khush','email_id':'khushvip03.gmail.com','subject':['dsa','data science'],
    'batches':('dsa','data science'),
    'mentor':{'areeba maam','sudhanshu sir','areeba maam'}}
d7

{'name': 'khush',
 'email_id': 'khushvip03.gmail.com',
 'subject': ['dsa', 'data science'],
 'batches': ('dsa', 'data science'),
 'mentor': {'areeba maam', 'sudhanshu sir'}}

In [31]:
type(d7['mentor'])

set

In [34]:
d7['email_id']='khushbuvip02@gmail.com'
d7

{'name': 'khush',
 'email_id': 'khushbuvip02@gmail.com',
 'subject': ['dsa', 'data science'],
 'batches': ('dsa', 'data science'),
 'mentor': {'areeba maam', 'sudhanshu sir'}}

In [35]:
del d7['email_id']
d7

{'name': 'khush',
 'subject': ['dsa', 'data science'],
 'batches': ('dsa', 'data science'),
 'mentor': {'areeba maam', 'sudhanshu sir'}}

In [36]:
d7.keys()

dict_keys(['name', 'subject', 'batches', 'mentor'])

In [37]:
list(d7.keys())

['name', 'subject', 'batches', 'mentor']

In [38]:
d7.values()

dict_values(['khush', ['dsa', 'data science'], ('dsa', 'data science'), {'areeba maam', 'sudhanshu sir'}])

In [39]:
d7.items()

dict_items([('name', 'khush'), ('subject', ['dsa', 'data science']), ('batches', ('dsa', 'data science')), ('mentor', {'areeba maam', 'sudhanshu sir'})])

In [40]:
list(d7.items())

[('name', 'khush'),
 ('subject', ['dsa', 'data science']),
 ('batches', ('dsa', 'data science')),
 ('mentor', {'areeba maam', 'sudhanshu sir'})]

In [42]:
d7.clear()
d7

{}

# conditional

In [ ]:
a=1000

In [43]:
price=400
if price<=500:
    print("ok i wil buy")

ok i wil buy

In [44]:
price<=500

True

In [45]:
price>500

False

In [49]:
price=int(input("enter the vlue for price"))

In [50]:
price

56

In [51]:
type(price)

int

In [53]:
price=int(input("enter price"))
if price<100:
    print("i will buy tshirt")
else:
    print("i will not buy tshirt")

i will not buy tshirt

In [54]:
price=int(input("enter price"))
if price<100:
    print("i will buy tshirt")
elif price>500:
    print("i will buy tshirt")
else:
    print("i will buy anything")

i will buy tshirt

# Nested Conditionals

In [33]:
a=int(input("enter a number"))

In [34]:
a

4

In [35]:
type(a)

int

In [37]:
a=int(input("enter a number"))
if a>0:
    print("number is positive")
elif a<0:
    print("number is negative")
else:
    print("number is zero")

number is positive

In [45]:
n=int(input("enter a number to check its even or odd"))
if n%2==0:
    if n==0:
        print("number is zero")
    else:
        print("number is even")     
else:
    print("number is odd")

number is zero

In [40]:
age=int(input("enter ur age"))
if age>=18:
    print("you are able for vote ")
else:
    print("you are not able for vote")

you are not able for vote

In [2]:
a=int(input("enter ur age"))
citizen=input("are u a citizen")
voter_id=input("do u have id card")
if a>=18:
    if citizen=='yes':
        print("u are citizen")
    else:
        print("u are not citizen")    
        if voter_id=='yes':
            print("yes u can give vote")
else:
    print("no u can not give a vote")

u are not citizen
yes u can give vote

# for loop

In [20]:
a="khushbu"
for i in a:
    print(a)
    print(i)

khushbu
k
khushbu
h
khushbu
u
khushbu
s
khushbu
h
khushbu
b
khushbu
u

In [21]:
for i in a:
    print(i.upper())

K
H
U
S
H
B
U

In [22]:
l=[1,2,3,4,56,7,6,8]
for i in l:
    print(i)

1
2
3
4
56
7
6
8

In [23]:
for i in l:
    print(i+2)

3
4
5
6
58
9
8
10

In [24]:
l

[1, 2, 3, 4, 56, 7, 6, 8]

In [25]:
for i in l:
    if i%2==0:
        print(i)

2
4
56
6
8

In [27]:
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 56, 6, 8]

In [37]:
l1=[]
for i in l:
    if i%2!=0:
        l1.append(i)
        l1.append(i)
print(l1)

[1, 1, 3, 3, 7, 7]

In [29]:
for i in l:
    print(i)
else:
    print("this will be executed once for loop will complete itself succefully")

1
2
3
4
56
7
6
8
this will be executed once for loop will complete itself succefully

In [33]:
for i in l:
    print(i)
    if i==4:
        break
else:
     print("this will be executed once for loop will complete itself succefully")

1
2
3
4

In [32]:
l

[1, 2, 3, 4, 56, 7, 6, 8]

In [34]:
b=0
for i in l:
    b=b+i
print(b)

87

In [63]:
l2=[2,3,4,5,6,'khush','college','python','True']

In [58]:
l_int=[]
l_str=[]
l_bool=[]
for i in l2:
    if type(i)==int:
        l_int.append(i)
    elif type(i)==str:
        l_str.append(i)
    elif type(i)==bool:
        l_bool.append(i)

In [59]:
l_int

[1, 2, 3, 4]

In [64]:
l_str

['khus']

In [62]:
l_bool

[True]

In [66]:
t=(3,4,6,7,8,'sudh','python')

In [67]:
for i in t:
    print(i)

3
4
6
7
8
sudh
python

In [97]:
d={'name':'khush','age':23,'subject':['data science','data analytics','dsa']}

In [98]:
for i in d.items():
    print(i)

('name', 'khush')
('age', 23)
('subject', ['data science', 'data analytics', 'dsa'])

In [99]:
for i in d:
    print(i)

name
age
subject

In [100]:
for i in d.values():
    if type(i)==list:
      print(i)

['data science', 'data analytics', 'dsa']

In [101]:
print('dsa' in i)

True

# exception handling

In [15]:
print('this is my python class)

SyntaxError: unterminated string literal (detected at line 1) (3430038630.py, line 1)

In [3]:
a=int(input("enter a number"))

In [4]:
b=7/a

In [5]:
b

1.75

In [9]:
try:
    a=int(input("enter an integer"))
    b=7/a
    print(b)
except:
    print("this is wrong input")

l=[2,3,4,5,6,7]
for i in l:
    print(i)

this is wrong input
2
3
4
5
6
7

In [ ]:
try:
    a=int(input("enter an integer"))
    b=7/a
    print(b)
except:
    print("this is wrong input")
finally:#finally block is used for terminate the code
    print("this will be excuted always")

this is wrong input
this will be excuted always

In [ ]:
try:
    a=int(input("enter an integer"))
    b=7/a
    print(b)
except Exception as e:#exception as e is used for show the error in output.
    print("this is wrong input : ",e)      
finally:
    print("this will be excuted always")

this is wrong input :  invalid literal for int() with base 10: 'a'
this will be excuted always

In [14]:
try:
    a=int(input("enter an integer"))
    b=7/a
    print(b)
except ValueError as e:
    print("this is wrong input : ",e)
except ZeroDivisionError as e:
    print("this is wrong input : ",e)          
finally:
    print("this will be excuted always")

this is wrong input :  division by zero
this will be excuted always